.menuContentWrapper {
  background-color: #e8e7e7;
  margin-top: 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: 35rem;
}

.Wrapper-top {
  overflow-x: auto; /* Add horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.Wrapper-top::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.horizontal-list {
  list-style: none;
  padding: 2rem;
  white-space: nowrap; /* Keep list items in a single line */
}

.horizontal-list li {
  display: inline-block;
  margin-right: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 1rem;
}

.selected {
  background-color: black;
  color: white;
}

.notSelected {
  background-color: white;
  color: black;
}

/*MEDIUM:*/

.Wrapper-Medium {
  overflow-x: auto; /* Add horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.Wrapper-Medium::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.MediumProduct {
  background-color: white;
  height: 12rem;
  width: 20rem;
  border-radius: 1rem;
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MediumProduct img {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  object-fit: cover;
}

.MediumProductText {
  color: black;
  font-size: 1.2rem;
  width: 50%;
}

.MediumProductText p {
  color: black;
  font-size: 1.2rem;
}

.MediumProductTextShop {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin-top: 1rem;
}

.MediumProductText a {
  color: black;
  font-size: 1rem;
  text-decoration: underline;
}

.arrow {
  font-size: 1.8rem;
}

.horizontal-list-MediumProduct {
  list-style: none;
  white-space: nowrap; /* Keep list items in a single line */
}

.horizontal-list-MediumProduct li {
  display: inline-block;
  padding-right: 1rem;
  border-radius: 1rem;
}

/*BOTTOM:*/

.Bottom-Header-Wrapper {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  color: black;
}

.Bottom-Header-Wrapper p {
  margin-top: 0.5rem;
}

.Wrapper-Bottom {
  overflow-x: auto; /* Add horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.Wrapper-Bottom::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.BottomProduct {
  margin-top: 1rem;
  background-color: white;
  height: 12rem;
  width: 9.5rem;
  border-radius: 1rem;
  padding: 0.4rem;
}

.BottomProduct img {
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.BottomProduct p {
  color: black;
  font-size: 0.9rem;
}
.horizontal-list-BottomProduct {
  list-style: none;
  white-space: nowrap; /* Keep list items in a single line */
}

.horizontal-list-BottomProduct li {
  display: inline-block;
  padding-right: 1rem;
  border-radius: 1rem;
}
